


.env
vars
appsettings.json
testapi/.vs/testapi/DesignTimeBuild/.dtbcache.v2
testapi/.vs/testapi/v17/.futdcache.v1
testapi/.vs/testapi/v17/.suo
testapi/.vs/testapi/v17/TestStore/0/001.testlog
testapi/testapi/obj/project.nuget.cache
testapi/testapi/obj/staticwebassets.pack.sentinel
testapi/testapi/obj/testapi.csproj.nuget.dgspec.json
testapi/testtest1/obj/project.assets.json
testapi/testtest1/obj/project.nuget.cache
testapi/testtest1/obj/testtest1.csproj.nuget.dgspec.json
testapi/testwin/obj/project.nuget.cache
testapi/testwin/obj/testwin.csproj.nuget.dgspec.json
testapi/**/Debug/
testapi/**/v17/
testapi/.vs/testapi/DesignTimeBuild/.dtbcache.v2
testapi/.vs/testapi/v17/.futdcache.v1
testapi/.vs/testapi/v17/.suo
testapi/testtest1/obj/Debug/net6.0/testtest1.csproj.AssemblyReference.cache
testapi/.vs/testapi/DesignTimeBuild/.dtbcache.v2
testapi/.vs/testapi/v17/.futdcache.v1
testapi/.vs/testapi/v17/.suo
testapi/testapi/obj/project.assets.json
testapi/testapi/obj/project.nuget.cache
testapi/testapi/obj/testapi.csproj.nuget.dgspec.json
testapi/testapi/obj/testapi.csproj.nuget.g.props
testapi/testapi/obj/Debug/net6.0/testapi.assets.cache
testapi/testapi/obj/Debug/net6.0/testapi.GeneratedMSBuildEditorConfig.editorconfig
testapi/testtest1/bin/Debug/net6.0/CoverletSourceRootsMapping
testapi/testtest1/obj/project.assets.json
testapi/testtest1/obj/project.nuget.cache
testapi/testtest1/obj/testtest1.csproj.nuget.dgspec.json
testapi/testtest1/obj/testtest1.csproj.nuget.g.props
testapi/testtest1/obj/Debug/net6.0/testtest1.assets.cache
testapi/testtest1/obj/Debug/net6.0/testtest1.csproj.AssemblyReference.cache
testapi/testtest1/obj/Debug/net6.0/testtest1.GeneratedMSBuildEditorConfig.editorconfig
testapi/testwin/obj/project.assets.json
testapi/testwin/obj/project.nuget.cache
testapi/testwin/obj/testwin.csproj.nuget.dgspec.json
testapi/testwin/obj/testwin.csproj.nuget.g.props
testapi/testwin/obj/Debug/net6.0-windows/testwin.assets.cache
testapi/testwin/obj/Debug/net6.0-windows/testwin.GeneratedMSBuildEditorConfig.editorconfig
testapi/testapi/appsettings.json
