.env
vars
appsettings.json

**/DesignTimeBuild/.dtbcache.v2
**/v17/.futdcache.v1
**/v17/.suo

**/obj/project.nuget.cache
**/obj/staticwebassets.pack.sentinel
**/obj/**.csproj.nuget.dgspec.json
**/obj/project.assets.json
**/obj/**.csproj.nuget.g.props

**/obj/Debug/net6.0/**.assets.cache
**/obj/Debug/net6.0/**.GeneratedMSBuildEditorConfig.editorconfig
**/obj/Debug/net6.0/**.AssemblyReference.cache

**/bin/Debug/net6.0/CoverletSourceRootsMapping

**/obj/Debug/net6.0-windows/testwin.assets.cache
**/obj/Debug/net6.0-windows/testwin.GeneratedMSBuildEditorConfig.editorconfig

**/**/Debug/
**/**/v17/

.vs/